<div class="main">
    <div class="content">
        <h4>
          Online Exam Software That Makes Conducting Online Exams a Breeze<br>
          Manage online examinations:<br> from candidate registration to quick results and <br>real-time processing.
        </h4>
      </div>
      
    <div class="login-box">
    <div>
        <button type="button" class="btn btn-light btn-lg" routerLink="/Register" style="margin-left: 30%; margin-top: 10%; padding-left: 32px; padding-right: 32px;">Register</button>
    </div>
    <div>
        <button type="button" class="btn btn-light btn-lg" routerLink="/Login" style="margin-left: 30%; margin-top: 10px; padding-left: 42px;padding-right: 42px;">Login</button>
    </div>
</div>
</div>
<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
      © 2021 Online Exam
    </div>
  </footer>
