<div class="main"> 
  <div class="content">
    <h2 style="text-align: center;">
      One Stop Online Examination Platform <br>To Get Selected In Top Technology Companies.
    </h2>
  </div>
  <div class="login-box">
    <div>
      <h5 style="margin-left: 28%; margin-top: 2%;">Let's Get Started</h5>
    </div>
    <div>
      <button type="button" class="btn btn-light btn-lg" routerLink="/Register" style="margin-left: 30%; margin-top: 4%; padding-left: 32px; padding-right: 32px;">Register</button>
    </div>
    <div>
      <button type="button" class="btn btn-light btn-lg" routerLink="/Login" style="margin-left: 30%; margin-top: 5%; padding-left: 43px;padding-right: 43px;">Login</button>
    </div>
  </div>
   
</div>
<div style="margin-top: 2%; margin-left: 2%;">
  <h2>We Offer Exams For Wide Range Of Technologies:</h2>
</div>
<table>
  <tr>
    <td>
      <img src="/assets/Java-Logo.jpg">
    </td>
    <td>
      <img src="/assets/C_C++.png">
    </td>
    <td>
      <img src="/assets/python-logo.png">
    </td>
    <td>
      <img src="/assets/sql.jpg">
    </td>
    <td>
      <img src="/assets/net-logo.jpg">
    </td>
    <td>
      <img src="/assets/csharp-logo.png">
    </td>
  </tr>
</table>

<footer class="page-footer font-small blue"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
      © 2021 Online Exam
    </div>
  </footer>
