.main{
    height:38em;
    background-image: url(/assets/log.jpeg);  
    background-size: cover;
}
.login-box{
    width:400px;
    height:450px;
    background: #e3f2fd;;
    color:rgb(15, 14, 14);
    top:50%;
    left:80%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    padding:70px 30px;
    padding-top: 2em;
    }

    .admin{
        width:75px;
        height:75px;
        border-radius:70%;
        position:absolute;
        top:-50px;
        left:calc(50% - 50px);
        }