<div class="main">
<h1 style="margin-left: 5%;">REPORT CARD</h1>
<div style="margin-left: 5%; margin-top: 3%;">
    
    <div  class="col-lg-12">
        <table class="table table-hover table-light">
          
          <thead>
          <tr>
              <th>Name</th>
              <th>Subject</th>      
              <th>Level 1 Score</th>
              <th>Level 2 Score</th>
              <th>Level 3 Score</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of report">

                <td>{{ i.username  }}</td>
                <td>{{ i.subjectname }}</td>
                <td>{{i.level1marks }}</td>
                <td>{{ i.level2marks }}</td>
                <td>{{ i.level3marks }}</td>
            </tr>
            </tbody>
          </table>
    <button type="submit" routerLink="/Home" class="btn btn-light btn-lg" style="margin-top: 400px; margin-left: 40px;margin-bottom: 20px;">Exit</button>
    
</div>
</div>
</div>
<footer class="page-footer font-small blue"style="background-color: #e3f2fd;">
  <div class="footer-copyright text-center py-3">
    © 2021 Online Exam
  </div>
</footer>