<!DOCTYPE html>
<html>
<body> 
  

    <div class="row" style="font-family: Calibri;">
        <div class="main">
          <div class="registerbox">
            <h2 style="margin-left: 2em;">Register for the MET Examination</h2>
            <form [formGroup]="Registerform" (ngSubmit)="Submitregister()" novalidate>
                <div class="container">
                  <label for="name"><b>User Name</b></label>
                  <input type="text" placeholder="Enter Username" id="Fullname" name="Fullname" class="form-control" formControlName="Username">

                  <div *ngIf="!Username?.valid && (Username?.dirty || Username?.touched)" class="error">
                    <div *ngIf="Username!.errors!.required">
                      <p style="color:red;">Full Name is required</p>
                    </div>
                    <div *ngIf="Username!.errors!.pattern">
                      <p style="color: red;">Enter Name in correct format</p>
                    </div>
                 </div>
              
                                
                  <label for="email"><b>Email Address</b></label>
                  <input type="email" placeholder="Enter Email Address" id="Email" name="Email" class="form-control" formControlName="Email">

                  <div *ngIf="!Email?.valid && (Email?.dirty || Email?.touched)" class="error">
                    <div *ngIf="Email!.errors!.required">
                      <p style="color: red;">Email is required</p>
                    </div>
                    <div *ngIf="Email!.errors!.pattern">
                      <p style="color: red;">Enter the correct email</p>
                    </div>
                  </div>
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" id="Password" name="Password" class="form-control" formControlName="Password">

                  <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                    <div *ngIf="Password!.errors!.required">
                      <p style="color: red;">Password is required</p>
                    </div>
                    <div *ngIf="Password!.errors!.pattern">
                      <p style="color: red;">Password should contain Minimum eight characters,first letter should be upper case and should have atleast one number,lowercase and special characters</p>
                    </div>
                  </div>

                  <label for="psw"><b>Confirm Password</b></label>
                  <input type="password" placeholder="Enter Confirm Password" id="CPassword" name="CPassword" class="form-control" formControlName="ConfirmPassword">

                  <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="error">
                    <div *ngIf="Password!.errors!.required">
                      <p style="color: red;">Password is required</p>
                    </div>
                    <div *ngIf="Password!.errors!.pattern">
                      <p style="color: red;">Password should contain Minimum eight characters,first letter should be upper case and should have atleast one number,lowercase and special characters</p>
                    </div>
                  </div>
              
                  <label for="mobile"><b>Mobile No</b></label>
                  <input type="text" placeholder="Enter Mobile Number" id="Mobile" name="Mobile" class="form-control" formControlName="Mobile" >
                  
                  <div *ngIf="!Mobile?.valid && (Mobile?.dirty || Mobile?.touched)" class="error">
                    <div *ngIf="Mobile!.errors!.required">
                      <p style="color: red;">mobile number is required</p>
                    </div>
                    <div *ngIf="Mobile!.errors!.pattern">
                      <p style="color: red;">Enter correct mobile number</p>
                    </div>
                  </div>

                  <label for="date"><b>Date Of Birth</b></label>
                  <input type="date" placeholder="Enter Date Of Birth" id="Date" name="date" class="form-control" formControlName="Date">
                  <div *ngIf="!Date?.valid && (Date?.dirty || Date?.touched)" class="error">
                    <div *ngIf="Date!.errors!.required">
                      <p style="color: red;">Date is required</p>
                    </div>
                  </div>
                  <label for="city"><b>City</b></label>
                  <input type="text" placeholder="Enter City" id="City" name="City" class="form-control" formControlName="City">
                  <div *ngIf="!City?.valid && (City?.dirty || City?.touched)" class="error">
                    <div *ngIf="City!.errors!.required">
                      <p style="color: red;">City is required</p>
                    </div>
                    <div *ngIf="City!.errors!.pattern">
                      <p style="color: red;">Enter In correct format</p>
                    </div>
                  </div>
                  <label for="state"><b>State</b></label>
                  <select name="state" id="state" class="form-control input-validation-error" formControlName="State">
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Puducherry">Puducherry</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Odisha">Odisha</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Telangana">Telangana</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="Uttarakhand">Uttarakhand</option>
            <option value="West Bengal">West Bengal</option>
            </select>

        
    
   
        
        <label for="qualification"><b>Qualification</b></label>
        <select name="qualification" id="qualification" class="form-control input-validation-error" formControlName="Qualification">
            <option value="B.Tech Computer Science Engineering">B.Tech Computer Science Engineering</option>
            <option value="B.Tech Information Technology">B.Tech Information Technology</option>
            <option value="B.Tech Electronics And Communications Engineering">B.Tech Electronics And Communications Engineering</option>
            <option value="B.Tech Electrical And Electronics Engineering">B.Tech Electrical And Electronics Engineering</option>
            <option value="B.Tech Mechanical Engineering">B.Tech Mechanical Engineering</option>
            <option value="B.Tech Others">B.Tech Others</option>
            <option value="M.Tech Computer Science Engineering">M.Tech Computer Science Engineering</option>
            <option value="M.Tech Information Technology">M.Tech Information Technology</option>
            <option value="M.Tech Electronics And Communications Engineering">M.Tech Electronics And Communications Engineering</option>
            <option value="M.Tech Electrical And Electronics Engineering">M.Tech Electrical And Electronics Engineering</option>
            <option value="M.Tech Mechanical Engineering">M.Tech Mechanical Engineering</option>
            <option value="M.Tech Others">M.Tech Others</option>
            </select>
                       
                  
                  <br>
                  <label for="yearOfcompletion"><b> Year Of Completion</b></label><br>
                  <select type="text" id="yearOfcompletion" style="width: 365px; height: 25px;" name="yearOfcompletion" formControlName="YearOfCompletion">
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                 </select>
                 <br>
                 <br>
                 <input class="btn btn-primary" type="submit" value="Register" style="width: 23em;" [disabled]="!Registerform.valid"/>
                 <h5 class="error">{{msg}}</h5>
                </div>
              </form>
          </div>
        </div>
      </div>
      
      <br>
      <footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
        <div class="footer-copyright text-center py-3">
          © 2021 Online Exam
        </div>
      </footer>               
</body>

</html>