.main{
    background-color: #5ac6c6; 
    background-size: cover; 
    min-height: 100%;
    min-width: 1024px;
	
    width: 100%;
    height: auto;
	
    position: fixed;
    top: 0;
    left: 0;
}

.search{
    border-radius: 15px;
    width: 30%;
    display: block;
    margin:auto;
    margin-top: 6%;
    margin-bottom: 5%;
    padding-bottom: 1%;
    background-color: rgba(255,255,255,0.8);
}

.form-group{
    padding-top: 0.5%;
    width: 80%;
    display: block;
    margin: auto;
}

table{
    border-color: black;
    width: 90%;
    margin-left: auto;
    margin-right: auto;    
}

thead{
    background-color: rgba(255,255,255,0.75);
}