<p>exam works!</p>
<h2 style="padding-left: 12em;">Instructions For Technical Test For the Subject:{{subjectname}}</h2>
<hr style=" border-width: 3px;">
<div class="main">
    
    <ol>
        <li class="li" >Time Duration:&nbsp;30 Minutes</li>
        <br>
        <li class="li" >No Of Questions:</li><br>
        <li class="li" >Minimum Marks:</li><br>
        <li class="li" >Using Mobile Phone or any communication device while the test is prohibited.</li><br>
        <li class="li" >Taking screenshots of the questions/navigating away from the test window is prohibited..</li><br>
        <li class="li" >Attempting the test from your phone/any other non-permissible device is prohibited.</li><br>
    </ol>
    <div class="btn">
        <a class="btn btn-info" routerLink="" role="button" (click)="Question()">Take Exam</a>
    </div>
</div>
<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
      © 2021 Online Exam
    </div>
  </footer>