<div class="log">
    <a class="link" routerLink="studentlogin" >Log Out</a>
</div>
<h2 style="padding-left: 18em;">Instructions For Technical Test</h2>
<hr style=" border-width: 3px;">
<div class="main">
    
    <ol>
        <li style="font-size: 2em;">Time Duration:</li>
        <br>
        <li style="font-size: 2em;">No Of Questions:</li><br>
        <li style="font-size: 2em;">Minimum Marks:</li><br>
        <li style="font-size: 2em;">Using Mobile Phone or any communication device while the test is in-progress</li><br>
        <li style="font-size: 2em;">Taking screenshots of the questions/navigating away from the test window.</li><br>
        <li style="font-size: 2em;">Attempting the test from your phone/any other non-permissible device.</li><br>
    </ol>
    <div class="btn">
        <a class="btn btn-info" routerLink="exampage" role="button">Take Exam</a>
    </div>
</div>
<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
      © 2021 Online Exam
    </div>
  </footer>

