<p>adminforgotpassword works!</p>
<form #fpform="ngForm" (ngSubmit)="Submitdata()" novalidate>
    <div style="margin-left: 40%;">
        <h1>Forgot Password</h1>
        <p class="form-group col-3">
            <label for="emailid">Email</label>
            <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"  [(ngModel)]= "admin.emailid" #emailid="ngModel"/>
        </p>
        
        <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="form-group error col-3">
            <div *ngIf="emailid!.errors!.required">
              Email is required
            </div>
        </div>
        <div *ngIf="emailid!.errors?.pattern" class="col-3 error">
        
            enter correct email
             
         </div>
        
            <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-left: 20px;" [disabled]="!fpform.valid">Submit</button> 
        
    </div>
</form>