
<div class="main">
<div class="login-box">
    <button type="button" class="btn btn-light btn-lg" routerLink="/AdminLogin" style="margin-left: 30%; margin-top: 10%; padding-left: 32px; padding-right: 32px;">Admin</button><br>

    <button type="button" class="btn btn-light btn-lg" style="margin-left: 30%; margin-top: 10px; padding-left: 41px; padding-right: 41px;">User</button>
</div>
</div>
<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
      © 2021 Online Exam
    </div>
  </footer>