<div class="container_background">   
            
    <div class="about" style="width: 32%;">
        <h2><u>ABOUT US</u></h2>
        <div class="content">
        <i>An easy to use online exam website for hiring and educational
        assessments which saves time,money and 
        resources of recruiter as well as aspirants.
        </i>
        <div >
            <h3><u>Our Mission</u></h3>
            <i>
                We aim to provide the best experience to the students during their virtual examination.<br>
            </i>
        </div>
 
      </div>
      </div>
      <img src="/assets/work.jpg" alt="" style="display: block; width: 45%; height: 85%;"> 
</div>
<!-- <div class="footer_zero" style="width: 100%; text-align: center; margin-bottom: 0px;">
    <b>This site is copyright © to . All rights are reserved here!</b>
</div> -->

<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
  <div class="footer-copyright text-center py-3">
    © 2021 Online Exam
  </div>
</footer>
