<div class="container_background">   
            
    <div class="about" style="width: 32%;">
        <h2><u>ABOUT US</u></h2>
        <div class="content">
        <i>An easy to use online exam website for hiring and educational
        assessments which saves time,money and 
        resources of recruiter as well as aspirants.
        </i>
        <div >
            <h3><u>Our Mission</u></h3>
            <i>
                We aim to provide the best experience to the students during their virtual examination.<br>
            </i>
        </div>
 
      </div>
      </div>
      <img src="/assets/work.jpg" alt="" style="display: block; width: 45%; height: 85%;"> 
</div>
<!-- <div class="footer_zero" style="width: 100%; text-align: center; margin-bottom: 0px;">
    <b>This site is copyright © to . All rights are reserved here!</b>
</div> -->

<div class="footer1">

<div class="first_horizontal" style="display: flex; justify-content: space-between;">
    
        <h3>Contact Us</h3>
        
    
    
</div>
<div class="card-footer text-muted" style="width: 100%;">
    <span><i class="fas fa-phone"></i>&nbsp;9515163070</span><br>
            <span><i class="fas fa-envelope"></i>&nbsp;abc@gmail.com</span><br>
            <a href="#"><i class="fab fa-facebook"></i></a> &nbsp;
            <a href="#"><i class="fab fa-instagram"></i></a> &nbsp;
            <a href="#"><i class="fab fa-twitter"></i></a> &nbsp;
            <a href="#"><i class="fab fa-youtube"></i></a> &nbsp;
            <a href="#"><i class="fab fa-whatsapp"></i></a>


</div>

</div>
