<div class="main">
    <form [formGroup]="resetpasswordForm" (ngSubmit)="Submitdata()" novalidate>
    <div class="login-box">
        
        <p class="form-group col-10">
            <label for="npassword"><h5>New Password</h5></label>
            <input type="text" id="napssword" name="npassword" class="form-control" placeholder="Enter New Password" formControlName="Password" />
        </p>
        
        <div *ngIf="!Password?.valid && (Password?.dirty || Password?.touched)" class="form-group error col-8">
            <div *ngIf="Password!.errors!.required">
              New Password is required
            </div>
        </div>
        <div *ngIf="Password!.errors?.pattern" class="col-8 error">
            
            enter correct Password
             
         </div>
         <p class="form-group col-10">
            <label for="cpassword"><h5>Confirm Password</h5></label>
            <input type="text" id="cpassword" name="cpassword" class="form-control" placeholder="Enter Confirm Password" formControlName="ConfirmPassword" />
        </p>
        
        <div *ngIf="!ConfirmPassword?.valid && (ConfirmPassword?.dirty || ConfirmPassword?.touched)" class="form-group error col-8">
            <div *ngIf="ConfirmPassword!.errors!.required">
              Confirm Password is required
            </div>
        </div>
        <!-- <div *ngIf="ConfirmPassword!.errors?.pattern" class="col-8 error">
            
            enter correct email
             
         </div> --> 
         <p class="form-group col-10">
            <label for="Otp"><h5>OTP</h5></label>
            <input type="text" id="Otp" name="Otp" class="form-control" placeholder="Enter Confirm Password" formControlName="Otp" />
        </p>
        
        <div *ngIf="!Otp?.valid && (Otp?.dirty || Otp?.touched)" class="form-group error col-8">
            <div *ngIf="Otp!.errors!.required">
              OTP is required
            </div>
        </div>
         
            <button type="submit" class="btn btn-light btn-lg" style="margin-top: 10px; margin-left: 15px;" [disabled]="!resetpasswordForm.valid">Change Password</button> 
        
        
    </div>
    </form>
</div>
<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
     © 2021 Online Exam
    </div>
</footer>


