<h2 class="card" >All the Best for the MET Examination</h2>
<hr style=" border-width: 3px;">

<div class="main">
  <div>
    <img src="/assets/exam.png" alt="Best of luck for exam" style="display: block; width: 65%; height: 85%;"> 
  </div>
</div>


<div class="btn">
    <a class="btn btn-primary btn-info" routerLink="/Questions" role="button">Continue To Test</a>
</div>

<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
      © 2021 Online Exam
    </div>
  </footer>