<div class="main">
    <h1>TECHNOLOGIES</h1>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="/assets/java.png" ></div>
          <div class="card_content">
            <h2 class="card_title">JAVA</h2>
            <p class="card_text">Java is a general-purpose, class-based, object-oriented programming language designed for having lesser implementation dependencies. It is a computing platform for application development. Java is fast, secure, and reliable, therefore. It is widely used for developing Java applications in cross platform environments. Java was one of the most popular programming languages in use according to GitHub, particularly for client-server web applications with a reported 9 million developers around the world.</p>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image "><img src="/assets/cplus.jpg" ></div>
          <div class="card_content">
            <h2 class="card_title">C++</h2>
            <p class="card_text">C++ is a general purpose programming language and widely used now a days for competitive programming. It has imperative, object-oriented and generic programming features. C++ is a statically typed, compiled, general-purpose, case-sensitive, free-form programming language that supports procedural, object-oriented, and generic programming. C++ is regarded as a middle-level language, as it comprises a combination of both high-level and low-level language features.</p>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="/assets/python.jpg" ></div>
          <div class="card_content">
            <h2 class="card_title">PYTHON</h2>
            <p class="card_text">Python is an interpreted, object-oriented, widely used high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance.</p>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="/assets/sql.jpg" ></div>
          <div class="card_content">
            <h2 class="card_title">SQL</h2>
            <p class="card_text">SQL is Structured Query Language, which is a computer language for storing, manipulating and retrieving data stored in a relational database. SQL is the standard language for Relational Database System. All the Relational Database Management Systems (RDMS) like MySQL, MS Access, Oracle, Sybase, Informix, Postgres and SQL Server use SQL as their standard database language. SQL allows users to access data in the relational database management systems and also allows users to define the data in a database and manipulate that data.</p>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="/assets/net.png" ></div>
          <div class="card_content">
            <h2 class="card_title">MICROSOFT .NET</h2>
            <p class="card_text">.NET is a free, open-source, and cross-platform for building modern, scalable, and high-performance desktop, web, cloud, and mobile applications. The current version of .NET is .NET 5.0..NET is a single unified platform to build desktop, web, cloud, mobile, gaming, IoT, and AI apps. The .NET ecosystem has a single common library, runtime, language compilers, and tools. The .Net framework consists of developer tools, programming languages, and libraries to build desktop and web applications.</p>
            
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_image"><img src="/assets/csharp.jpg"></div>
          <div class="card_content">
            <h2 class="card_title">C#</h2>
            <p class="card_text">C# is a general-purpose, modern and object-oriented programming language pronounced as “C Sharp”. It was developed by Microsoft led by Anders Hejlsberg and his team within the .NET initiative and was approved by the European Computer Manufacturers Association (ECMA) and International Standards Organization (ISO). C# is among the languages for Common Language Infrastructure. C# is a lot similar to Java syntactically and is easy for users who have knowledge of C, C++ or Java.</p>
            
          </div>
        </div>
      </li>
    </ul>
  </div>