<div class="main">
    <form [formGroup]="forgotpasswordForm" (ngSubmit)="Submitdata()" novalidate>
    <div class="login-box">
        <!-- <h5 style="margin-left: 10px;">Enter your mail id</h5> -->
        <p class="form-group col-10">
            <label for="emailid"><h5>Email</h5></label>
            <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter email" formControlName="emailid" />
        </p>
        
        <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="form-group error col-8">
            <div *ngIf="emailid!.errors!.required">
              Email is required
            </div>
        </div>
        <div *ngIf="emailid!.errors?.pattern" class="col-8 error">
            
            enter correct email
             
         </div> 
         
            <button type="submit" class="btn btn-light btn-lg" style="margin-top: 10px; margin-left: 15px;" [disabled]="!forgotpasswordForm.valid">Login</button> 
        
        
    </div>
    </form>
</div>
<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
     © 2021 Online Exam
    </div>
</footer>

