<div class="main">
    <div class="main2">
        <h2 class="h2">Welcome Admin</h2>
        <div class="buttons">
            <button type="button" class="btn btn-outline-dark btn-light btn-lg" routerLink="/AddQues" style="display: block; margin:auto; margin-top: 7%;">Add Question</button><br>
        
            <button type="button" class="btn btn-outline-dark btn-light btn-lg" routerLink="/singleStudent" style="display: block; margin:auto; margin-top: 1%;">Search Student Details</button>
        </div>
    </div>
</div>