<h1 class="h1">Student Data</h1>
<form #rform="ngForm" (ngSubmit)="searchData()" noavlidate class="form">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>Student Id</th>
            <th>Name</th>
            <th>Email-Id</th>
            <th>Mobile Number</th>
            <th>Date Of Birth</th>
            <th>City</th>
            <th>State</th>
            <th>Exam</th>
            <th>Level Cleared</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let use of users ">
            <td>{{use.userid}}</td>
            <td>{{use.username}}</td>
            <td>{{use.email}}</td>
            <td>{{use.mobile}}</td>
            <td>{{use.dob}}</td>
            <td>{{use.city}</td>
            <td>{{use.state}}</td>
            <!-- <td>{{result.subjectid}}</td>
            <td>{{result.level}}</td>
            <td>{{result.marks}}</td> -->
        </tr>
    </tbody>
</table>
</form>