<p>adminlogin works!</p>

<form #aform="ngForm" (ngSubmit)="Submitdata()" novalidate>
<div style="margin-left: 40%;">
    <h1>Admin Login</h1>
    <p class="form-group col-3">
        <label for="emailid">Email</label>
        <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"  [(ngModel)]= "admin.emailid" #emailid="ngModel"/>
    </p>
    
    <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="form-group error col-3">
        <div *ngIf="emailid!.errors!.required">
          Email is required
        </div>
    </div>
    <div *ngIf="emailid!.errors?.pattern" class="col-3 error">
        
        enter correct email
         
     </div>
    
    <p class="form-group col-3">
        <label for = "password">Password</label>
        <input type = "text" id = "password" name = "password" class="form-control" placeholder="Password" required [(ngModel)] = "admin.password" #password="ngModel"/>
    </p>
    <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-group error col-3">
        <div *ngIf="password!.errors!.required">
          Password is required
        </div>
    </div>

    <div class="form-group form-check">
        <a routerLink="/AdminForgotPassword">Forgot Password</a><br>
        <button type="submit" class="btn btn-primary" style="margin-top: 10px;" [disabled]="!aform.valid">Login</button> 
    </div>    
</div>
</form>