<div class="main">
<form [formGroup]="AdminLoginForm" (ngSubmit)="Submitdata()" novalidate>
<div class="login-box">
  <img src="assets/loginlogo.jpg" class="admin">
    <h1 style="margin-left: 10px;">Admin Login</h1>
    <p class="form-group col-10">
        <label for="emailid"><h5>Email</h5></label>
        <input type="text" id="emailid" name="emailid" class="form-control" placeholder="Enter email" formControlName="emailid" />
    </p>
    
    <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="form-group error col-8 text-danger">
        <div *ngIf="emailid!.errors!.required">
          Email is required
        </div>
    </div>
    <div *ngIf="emailid!.errors?.pattern" class="col-8 error text-danger">
        
        Enter correct email
         
     </div>
    
    <p class="form-group col-10">
        <label for = "password"><h5>Password</h5></label>
        <input type = "password" id = "password" name = "password" class="form-control" placeholder="Password" formControlName="password"/>
    </p>
    <div *ngIf="!password?.valid && (password?.dirty || password?.touched)" class="form-group error col-8 text-danger">
        <div *ngIf="password!.errors!.required">
          Password is required
        </div>
    </div>
 
    <button type="submit" class="btn btn-light btn-lg" style="margin-top: 10px;" [disabled]="!AdminLoginForm.valid">Login</button> 
    </div>   

</form>
</div>
<footer class="page-footer font-small blue fixed-bottom"style="background-color: #e3f2fd;">
    <div class="footer-copyright text-center py-3">
      © 2021 Online Exam
    </div>
  </footer>