<div class="main">
    <h3 class="h3">Go Ahead Add The Questions</h3>
    <form [formGroup]="quesForm" (ngSubmit)="AddQues()" novalidate>
        <div class="designtable">
            <div class="form-group">
                <label style="margin-top: 1%;">Subject Name: </label>
                <select type="text" class="form-select" formControlName="subjectid" style="border-color: black;">
                    <option value="1">Java</option>
                    <option value="2">C/C++</option>
                    <option value="3">Python</option>
                    <option value="4">C#</option>
                    <option value="5">.Net</option>
                    <option value="6">SQL</option>
                  </select>
            </div>
            <div class="form-group">
                <label>Level: </label>
                <input type="text" style="border-color: black;" formControlName="level" class="form-control" maxlength="20">
            </div>
            <div class="form-group">
                <label>Question: </label>
                <textarea class="form-control" formControlName="question" rows="2" maxlength="50" style="border-color: black;"></textarea>
            </div>
            <div class="form-group">
                <label>Option 1</label>
                <input type="text" formControlName="option1" class="form-control" style="border-color: black;">
            </div>
            <div class="form-group">
                <label>Option 2</label>
                <input type="text" formControlName="option2" class="form-control" style="border-color: black;">
            </div>
            <div class="form-group">
                <label>Option 3</label>
                <input type="text" formControlName="option3" class="form-control" style="border-color: black;">
            </div>
            <div class="form-group">
                <label>Option 4</label>
                <input type="text" formControlName="option4" class="form-control" style="border-color: black;">
            </div>
            <div class="form-group">
                <label>Correct Answer</label>
                <input type="text" formControlName="correctanswer" class="form-control" style="border-color: black;">
            </div>
            <button type="submit" class="btn btn-outline-dark btn-light btn-lg" style="display: block; margin:auto; margin-top: 1%; margin-bottom: 1%; ">Add Question</button>

        </div >
    </form>
</div>